<%= form_with model: user do |form| %>
  <ul>
    <li>
      <%= form.label :username %>
      <%= form.text_field :username %>
    </li>
    <li>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </li>
    <li>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </li>
  </ul>
  <%= submit_tag("Sign In") %>

  <% err_count = user.errors.count %>
  <% if err_count >= 1%>
  <p>There was <%= err_count %> <%= 'error'.pluralize(err_count) %>:</p>
  <ul>
    <% user.errors.full_messages.each do |error| %>
      <li> <%= error %></li>
    <% end %>
  </ul>
  <% end %>
<% end %>
