<h1>Register</h1>

<%= form_tag("/users") do %>
  <ul>
    <li>
      <%= label_tag(:username, "Username:") %>
      <%= text_field_tag(:username) %>
    </li>
    <li>
      <%= label_tag(:email, "Email:") %>
      <%= email_field_tag(:email) %>
    </li>
    <li>
      <%= label_tag(:password, "Password:") %>
      <%= password_field_tag(:password) %>
    </li>
  </ul>
  <%= submit_tag("Sign In") %>
<% end %>
